#app {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This will make the app take the full height of the viewport */
}

#container {
    width: 60%;
    height: 100%;
    margin: auto; /* This will center the container within the #app */
}